<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Primus ping</title>

<link href = "css/style.css" rel = "stylesheet">
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="script.js"></script>

</head>
<body>

    <div id="form" v-if="IsActive">
         <input type="text" placeholder="Логин" v-model="login" required>
         <input type="password" placeholder="Пароль" v-model="password" required>
         <input type="text" placeholder="customerId" v-model="customerId" required>
         <input type="submit" value="Вход" onclick="login()">
         <p>{{error}}</p>
    </div>
    <div id="info" v-if="IsActive">
         <input type="submit" value="Выйти" onclick="exit()">
         <div id="data">
            <p v-for="value in message"> {{value['nickname']}} </p>
         </div>
    </div>
    <div id="load" v-if="IsActive"> </div>
    <!-- Коммент -->
</body>
</html>
